header {
    background-color: #232f3e;
    color: #fff;
}

.logo img {
    height: auto;
    width: 100%;

}

.icon {
    color: #fff;
}

#localizacao {
    padding: 20px 20px;

}

#pesquisa {
    padding: 20px;
}

#login {
    padding: 25px 30px;
}

#devolucao{
    margin: 0;
    padding: 25px 20px 0px 0px;

}

#carrinho{
    padding: 25px;


}
.formPerquisa {
    background-color: #fff;
    border-radius: 10px;
}

.formPerquisa select,
.formPerquisa input,
.formPerquisa button {
    height: 40px;
    border: none;
}

.formPerquisa select {
    background-color: #dadada;
    padding-left: 10px;
    width: 25%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.formPerquisa input {
    width: 48%;
}

.formPerquisa button {
    padding: 0 10px;
    width: 15%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffbc69;
}

@media (max-width:760px) {
    .formPerquisa select {
        display: none;
    }

    .formPerquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;
    }
}