.black {
    color: #222;
}

.bg-gray {
    background-color: rgb(222, 213, 213);
}

body {
    font-family: var(--font-arial);
    font-size: var(--fs-12);
}

.menu a{
    color: var(--white);
    text-decoration: none;
}

nav li {
    display: inline-block;

}

/* nav .menu{
    margin: 0px ;
    display: inline-block;
    padding: 13px;
    background-color:#131921;
    width: 100%;    
} */

/* nav a{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    padding: 10px;
    color: #eeeeee;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    
    
} */

.menu a {
    color: var(--white);
    text-decoration: none;
}

nav ul li {
    display: inline-flexbox;
    padding-left: 20px;
}

nav button:hover {
    border-style: solid;
    border-width: 1px;
}

/* nav .promocional {
    text-align: right;
}

nav .promocional img{
    width: 100%;
    min-width: 300px;
} */

nav a:hover {
    border-style: solid;
    border-width: 1px;
}

.conteiner {
    display: inline-flexbox;
    margin: 0 auto;
    width: 100%;
}

/* .carousel {
    display: inline;
    background-color: #6c4a5a;
    width: 100%;
    height: 100%;
} */

/*#foto {
    width: 100%;
} */


.produto{
    padding: 0 5px;
}

/* #sec_prod{
    
    background-color: #6c4a5a;
        
} */

/* #produtos {
    padding: 0px 0px 0px 10px;
    margin: 5px;
    background-color: #fff;
}

#produtos1 {
    padding: 20px;
}

#produtos2 {
    padding: 20px;

} */

#txt {
    display: inline-block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

section a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #007185;

}

section a:hover{
    text-decoration: underline;
    color: #BC2929;
}



section span {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flexbox;
}

